 <% if @article.slant == "Left" %>
   <a href= <%= article_path(@article.random_right_slant) %> >

     <div class="ui red message">
       <div class="header">
       <h3>Stay informed!</h3>
       </div>
     <p>How about an article from another perspective?</p>
   </div>
 </a>
 <% elsif @article.slant == "Right" %>
   <a href= <%= article_path(@article.random_left_slant) %> >
     <div class="ui blue message">
       <div class="header">
         Stay informed!
       </div>
       <p>How about an article from another perspective?</p>
     </div>
   </a>

   <% else %>
     <a href= <%= article_path(Article.all.sample.id) %> >
       <div class="ui purple message">
         <div class="header">
           Stay informed!
         </div>
         <p>How about an article from another perspective?</p>
       </div>
     </a>
 <% end %>

<!-- end of header notification -->


<h1><%= @article.title %></h1>
By <%= @article.author %><br>
<%= link_to 'Original Article', @article.link %> from <%= @article.source %><br>

Political Slant: <%= @article.slant %>

<p> <%= @article.summary %>
  <% @article.article_split.each do |paragraph| %>
<p> <%= paragraph %></p>
<% end %>
<br>

<% if @logged_in && !@article.users.ids.include?(session[:user_id]) %>
  <%= form_tag opinions_path do %>
  <%= hidden_field_tag(:article_id, @article.id) %>
  <%= hidden_field_tag(:user_id, session[:user_id])  %>
  <input type="submit" value="I Like This">
  <% end %>
<% elsif @logged_in %>
  <p>You have already liked this article!</p>
  <p> <%= form_tag opinion_path, method: "delete" do %>
  <%= hidden_field_tag(:article_id, @article.id) %>
  <%= hidden_field_tag(:user_id, session[:user_id])  %>
  <input type="submit" value="Unlike This">
  <% end %> </p>
<% else %>
  <p>Show your approval for this article with a like! <%= link_to 'Log In', new_login_path %> or <%=link_to 'Sign Up', new_user_path %></p>
<% end %>

<p>This article has been liked <%= @article.likes %> times.</p>
