<ul>

<%= form_for @user do |f|%>

  <li><%= f.label :username %></li>
  <%= f.text_field :username %><br>
<br>
  <li><%= f.label :password %></li>
  <%= f.password_field :password %><br>
<br>
<li><%= f.label :slant %></li>
<%= f.collection_select(:slant, Article.all, :slant, :slant) %><br>
<br>

  <%= f.submit %>

  <% end %>
</ul>
