<h1>Welcome to your profile, <%= @user.username %>!</h1>

<h3>Suggested Articles:</h3>

<% suggested_article = @user.slanted_articles.sample %>
<ul>
  <li>
    <%= link_to suggested_article.title, article_path(suggested_article.id) %>
  </li>
</ul>


<h3>Articles You've Liked:</h3>
<ul>
  <% if !@user.articles.empty? %>
    <% @user.articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      <%= form_tag opinion_path, method: "delete" do %>
      <%= hidden_field_tag(:article_id, article.id) %>
      <%= hidden_field_tag(:user_id, session[:user_id])  %>
      <input type="submit" value="Unlike This">
      <% end %>
    </li>
    <% end %>
</ul>

  <% else %>
    <p>Looks like you haven't liked any articles yet. Head to featured articles to start reading!</p><br>

    <%= link_to "Featured Articles", featured_path %>
  <% end %>
