<!DOCTYPE html>
<html>
  <head>
    <title>WolfBiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if @logged_in %>
      <%= button_to "LOGOUT", log_out_path, method: :delete %><br>
        <%= link_to "My Profile", user_path(@logged_in_user_id), class: "fancy-link" %><br>

        <%= link_to "Featured Articles", featured_path %><br>

        Select Topic:
        <%= form_tag by_topic_path, method: :get do%>
        <%= select_tag(:topic, options_for_select(@topics)) %>
        <input type="submit" value="Find">
        <% end %>

        <% end %>
    </header>

    <%= yield %>
  </body>
</html>
