<!DOCTYPE html>
<html>
  <head>
    <title>WolfBiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= button_to "LOGOUT", log_out_path, method: :delete %><br>
    <% if @logged_in %>
      <%= link_to "My Profile", user_path(@logged_in_user_id) %><br>
      <%= link_to "Featured Articles", featured_path %><br>
      
      <% end %>
    <% if @errors && @errors.any? %>
     <ul class="errors">
       <% @errors.each do |error| %>
       <li>
         <%= error %>
       </li>
       <% end %>
     </ul>
     <% end %>
    <%= yield %>
  </body>
</html>
